.App {
  text-align: center;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  background-image: url("../public/library-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  background-attachment: fixed;
}
