body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sign {
  height: 150px;
  background-size: cover;
  background-position: center bottom;
  background-image: url("../public/wooden-sign.png");
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #5f8b6f;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 2px #000;
  padding-bottom: 20px;
  cursor: pointer;
}

.sub-sign {
  height: 130px;
  overflow: hidden;
  padding: 0px 0px 20px;
  margin-bottom: -3px;
}

.sidebar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 420px;
}

.modal-area {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  perspective: 1000px;
}

.sign-modal {
  position: relative;
  width: 80%;
  height: 80%;
  background-image: url("../public/modal-background.jpg");
  background-size: 129.5%;
  background-position: 48% center;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  transform-origin: center;
}

.button {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 50px;
  width: 50px;
  height: 100px;
  background-size: contain;
  background-position: center center;
  background-image: url("../public/close-button.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
}

.pages {
  padding-top: 30px;
  padding-left: 80px;
}

.left-page {
  flex: 0 0 44%;
}

.right-page {
  flex: 0 0 50%;
  margin-left: -40px;
}
